{% extends base_template %} {% block head_css %} {{ super() }}

<style>
  .container-form {
    margin-top: 20px;
    padding: 0 15px;
    max-width: 100%;
    box-sizing: border-box;
  }
  .form-group label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 600;
    height: 40px;
  }
  .form-control {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    height: 40px;
  }
  .form-control-short {
    width: 140px;
    max-width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 40px;
    padding: 6px 12px;
  }
  .btn-primary {
    margin-right: 10px;
  }

  .form-group {
    margin-bottom: 1rem;
  }

  .form-check {
    display: flex;
    align-items: center;
  }

  .button-submit {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }

  .btn-custom-size {
    width: 34px;
    height: 34px;
    padding: 0; /* Remove default padding */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px; /* Adjust the icon size */
  }

  .btn-no-margin {
    margin-right: 0; /* Override the default margin */
  }

  /* .button-submit btn btn-primary {
        margin: 0;
    } */

  #project_type {
    list-style-type: none;
    padding-left: 0;
  }

  #project_type li {
    margin-bottom: 10px;
  }
</style>

{% endblock %} {% block content %}
<div class="container-form">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4>Добавить проект</h4>
    </div>
    <div class="panel-body">
      <form id="connection_form" method="POST">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"
            >{{ form.project_name.label }}<strong class="text-danger"
              >*</strong
            ></label
          >
          <div class="col-sm-10">{{ form.project_name }}</div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"
            >{{ form.connection.label }}<strong class="text-danger"
              >*</strong
            ></label
          >
          <div class="col-sm-10">{{ form.connection }}</div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"
            >{{ form.load_type.label }}
            <strong class="text-danger">*</strong>
          </label>
          <div class="col-sm-10">
            <div class="form-check">{{ form.load_type }}</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"
            >{{ form.project_type.label }}
            <strong class="text-danger">*</strong>
          </label>
          <div class="col-sm-10">
            <div class="form-check">{{ form.project_type }}</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"
            >{{ form.database_source.label }}<strong class="text-danger"
              >*</strong
            ></label
          >
          <div class="col-sm-10">{{ form.database_source }}</div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"
            >{{ form.database_change_tracking.label }}<strong
              class="text-danger"
              >*</strong
            ></label
          >
          <div class="col-sm-10">{{ form.database_change_tracking }}</div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"
            >{{ form.start.label }}<strong class="text-danger">*</strong></label
          >
          <div class="col-sm-10">{{ form.start }}</div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"
            >{{ form.schedule.label }}<strong class="text-danger"
              >*</strong
            ></label
          >
          <div class="col-sm-10">{{ form.schedule }}</div>
          <script>
            const cronInput = document.getElementById("schedule");
            const descriptionElement =
              document.getElementById("cronDescription");
            function interpretCron() {
              const cronValue = cronInput.value;
              try {
                const description = cronstrue.toString(cronValue, {
                  locale: "ru",
                });
                descriptionElement.innerText = `This cron expression means: ${description}`;
              } catch (e) {
                descriptionElement.innerText = "Invalid cron expression";
              }
            }
            cronInput.addEventListener("input", interpretCron);
          </script>
        </div>
        <div class="button-submit">
          <button
            type="submit"
            class="btn btn-primary btn-no-margin"
            name="action"
            value="save"
          >
            Save
          </button>
          <a
            href="#"
            class="btn btn-secondary btn-no-margin"
            id="tables-list-btn"
            >Tables List</a
          >
          <a
            href="{{ url_for('ProjectsView.project_list') }}"
            class="btn btn-sm btn-default btn-no-margin"
            data-toggle="tooltip"
            rel="tooltip"
            title=""
            data-original-title="Back"
            ><span class="sr-only">Назад</span><i class="fa fa-arrow-left"></i>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  document.getElementById('tables-list-btn').addEventListener('click', function(event) {
    event.preventDefault(); // Prevent the default action

    // Get selected values
    const projectName = document.querySelector('[name="project_name"]').value;
    const connection = document.querySelector('[name="connection"]').value;

    // Construct the URL with query parameters
    const url = "{{ url_for('ProjectsView.projects_to_load') }}" + 
                `?project_name=${encodeURIComponent(projectName)}&connection=${encodeURIComponent(connection)}`;

    // Redirect to the constructed URL
    window.location.href = url;
  });
</script>

{% endblock %}
