{% extends base_template %} {% block head_css %} {{ super() }}

<style>

    .container-form {
      margin-top: 20px;
      padding: 0 15px;
      max-width: 100%;
      box-sizing: border-box;
    }
    .form-group label {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-weight: 600;
      height: 40px;
    }
    .form-control {
      width: 100%;
      max-width: 100%;
      box-sizing: border-box;
      height: 40px;
    }
    .form-control-short {
      width: 140px;
      max-width: 100%;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
      height: 40px;
      padding: 6px 12px;
    }
    .btn-primary {
      margin-right: 10px;
    }

    .form-group {
      margin-bottom: 1rem;
    }

    .form-check {
      display: flex;
      align-items: center;
    }

    .button-submit {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
    }

    .btn-custom-size {
      width: 34px;
      height: 34px;
      padding: 0;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
    }

    .btn-no-margin {
      margin-right: 0;
    }

    .button-submit btn btn-primary {
          margin: 0;
      }

    .form-check {
        display: flex;
        align-items: center;
    }

    .form-check ul {
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        display: flex;
        gap: 20px;
    }

    .form-check-input {
        display: none;
    }

    .form-check label {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        border: 1px solid #ced4da;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-family: Arial, sans-serif;
        font-size: 14px;
        color: #495057;
        background-color: #fff;
    }

    .form-check-input:checked + label {
        background-color: #007bff;
        color: #fff;
        border-color: #007bff;
    }

    .form-check-input:checked + label::before {
        color: #fff;
        font-weight: bold;
        margin-right: 5px;
    }

    .form-check label:hover {
        background-color: #f8f9fa;
    }

    .form-check.dag {
        margin-top: -10px;
    }

    .form-popup {
      display: none;
      position: fixed;
      bottom: 0;
      right: 15px;
      border: 3px solid #f1f1f1;
      z-index: 9;
    }

    .form-popup {
      display: none;
      position: fixed;
      bottom: 0;
      right: 15px;
      border: 1px solid #ddd;
      background-color: #f9f9f9;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      z-index: 9;
      padding: 20px;
      width: 300px;
      animation: slide-down 0.5s ease-out;
    }

    @keyframes slide-down {
      from {
        transform: translateY(-100%);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }

    .form-popup h5 {
      font-size: 16px;
      margin-bottom: 10px;
      font-weight: 700;
      color: #3d5170;
    }

    .form-popup .form-group label {
      color: #3d5170;
      font-weight: 600;
    }

    .form-popup button {
      background-color: #017cff;
      color: white;
      border: none;
      border-radius: 4px;
      padding: 10px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .form-popup button:hover {
      background-color: #0056b3;
    }

    .form-popup .btn.cancel {
      background-color: #e0e0e0;
      color: #333;
      margin-top: 15px;
    }

    .btn-secondary {
      position: relative;
      transition: background-color 0.3s ease;
    }

    .btn-secondary:hover .form-popup {
      display: block;
      position: absolute;
      top: 100%;
      right: 0;
    }


    .form-group {
        margin-bottom: 1rem;
    }


    .col-form-label {
        font-weight: bold;
        font-size: 16px;
        color: #495057;
        display: inline-block;
        padding-right: 10px;
    }

    .input-group {
        display: flex;
        gap: 1rem;
    }

    .input-group input {
        padding: 0.5rem;
        border: 1px solid #ced4da;
        border-radius: 4px;
        font-size: 14px;
        width: 100%;
        max-width: 200px;
        height: 38px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .input-group input:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        outline: none;
    }

    .mb-3 {
        margin-bottom: 1rem;
    }

    .dag-header {
        margin-top: 30px;
        height: 38px;
    }




</style>

{% endblock %} {% block content %}
<div class="container-form">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Add CT Project</h4>
        </div>
        <div class="panel-body">
            <form id="connection_form" method="POST">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"
                    >{{ form.ct_project_id.label }}<strong class="text-danger"
                    > *</strong
                    ></label
                    >
                    <div class="col-sm-10">{{ form.ct_project_id }}</div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"
                    >{{ form.source_database_type.label }}<strong class="text-danger"
                    > *</strong
                    ></label
                    >
                    <div class="col-sm-10">{{ form.source_database_type }}</div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"
                    >{{ form.source_connection_id.label }}<strong class="text-danger"
                    > *</strong
                    ></label
                    >
                    <div class="col-sm-10">{{ form.source_connection_id }}</div>
                </div>

                <script>
                        function updateConnections() {
                    const dbSelect = document.getElementById("conn_type6");
                    const connectionSelect = document.getElementById("conn_type");
                  
                    const selectedDB = dbSelect.value;
                  
                    connectionSelect.innerHTML = "";
                  
                    fetch(`/projectsview/api/get_connections?database_type=${selectedDB}`)
                      .then(response => response.json())
                      .then(connections => {
                        console.log(connections);
                        connections.forEach(connection => {
                          const option = document.createElement("option");
                          option.value = connection;
                          option.textContent = connection;
                          option.classList.add("form-group");
                          connectionSelect.appendChild(option);
                        });
                      })
                      .catch(error => console.error('Error fetching connections:', error));
                    }

                    function updateTargetConnections() {
                    const selectTargetDatabaseType = document.getElementById("conn_type7");
                    const selectConnectionType = document.getElementById("conn_type8");
                  
                    const selectedTargetDB = selectTargetDatabaseType.value;
                  
                    selectConnectionType.innerHTML = "";
                  
                    fetch(`/projectsview/api/get_connections?database_type=${selectedTargetDB}`)
                      .then(response => response.json())
                      .then(connections => {
                        console.log(connections);
                        connections.forEach(connection => {
                          const option = document.createElement("option");
                          option.value = connection;
                          option.textContent = connection;
                          option.classList.add("form-group");
                          selectConnectionType.appendChild(option);
                        });
                      })
                      .catch(error => console.error('Error fetching connections:', error));
                    }
                    
                    function waitForForm() {
                    const conn_id = document.getElementById('conn_id');
                    if (conn_id) {
                      document.getElementById("conn_type6").addEventListener("change", updateConnections);
                      document.getElementById("conn_type7").addEventListener("change", updateTargetConnections);
                    } else {
                      setTimeout(waitForForm, 100);
                    }
                    }
                
                  document.addEventListener('DOMContentLoaded', function() {
                    waitForForm();
                  });

                </script>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"
                    >{{ form.one_c_database.label }}<strong class="text-danger"
                    > *</strong
                    ></label
                    >
                    <div class="col-sm-10">{{ form.one_c_database }}</div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"
                    >{{ form.biview_database.label }}<strong class="text-danger"
                    > *</strong
                    ></label
                    >
                    <div class="col-sm-10">{{ form.biview_database }}</div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"
                    >{{ form.biview_project_type.label }}
                        <strong class="text-danger"> *</strong>
                    </label>
                    <div class="col-sm-10">
                        <div class="form-check">{{ form.biview_project_type }}</div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"
                    >{{ form.ct_database.label }}<strong class="text-danger"
                    > *</strong
                    ></label
                    >
                    <div class="col-sm-10">{{ form.ct_database }}</div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"
                    >{{ form.transfer_source_data.label }}</label>
                    <div class="col-sm-10">{{ form.transfer_source_data }}</div>
                </div>

                <div id="targetFields" class="target-fields">

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">{{ form.target_database_type.label }}</label>
                        <div class="col-sm-10">{{ form.target_database_type }}</div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">{{ form.target_connection_id.label }}</label>
                        <div class="col-sm-10">{{ form.target_connection_id }}</div>
                    </div>

                    <script>
                      let previousConnValue = null;
                      function updateDatabases() {
                        const connSelect = document.getElementById("conn_type");
                        const connectionSelectBIView = document.getElementById("conn_type2");
                        const connectionSelectCT = document.getElementById("conn_type3");
                        const connectionSelect1C = document.getElementById("conn_type1");
                      
                        const selectedtargetConn = connSelect.value;
                      
                        if (selectedtargetConn !== previousConnValue) {
                          previousConnValue = selectedtargetConn;
                        
                          connectionSelectBIView.innerHTML = "";
                          connectionSelectCT.innerHTML = "";
                          connectionSelect1C.innerHTML = "";
                        
                          fetch(`/projectsview/api/get_source_database?connection=${selectedtargetConn}`)
                            .then(response => response.json())
                            .then(connections => {
                              console.log(connections);
                              connections.forEach(connection => {
                                const option1 = document.createElement("option");
                                option1.value = connection;
                                option1.textContent = connection;
                                option1.classList.add("form-control");
                                connectionSelectBIView.appendChild(option1);
                              
                                const option2 = document.createElement("option");
                                option2.value = connection;
                                option2.textContent = connection;
                                option2.classList.add("form-control");
                                connectionSelectCT.appendChild(option2);
                              
                                const option3 = document.createElement("option");
                                option3.value = connection;
                                option3.textContent = connection;
                                option3.classList.add("form-control");
                                connectionSelect1C.appendChild(option3);
                              });
                            })
                            .catch(error => console.error('Error fetching connections:', error));
                        }
                      }
                    
                      let previousTargetConnValue = null;
                      function updateTargetDatabases() {
                        const connTargetSelect = document.getElementById("conn_type8");
                        const dbTargetSelect = document.getElementById("conn_type4");
                      
                        const selectedConn = connTargetSelect.value;
                      
                        if (selectedConn !== previousTargetConnValue) {
                          previousTargetConnValue = selectedConn;
                        
                          dbTargetSelect.innerHTML = "";
                        
                          fetch(`/projectsview/api/get_target_database?connection=${selectedConn}`)
                            .then(response => response.json())
                            .then(connections => {
                              console.log(connections);
                              connections.forEach(connection => {
                                const option1 = document.createElement("option");
                                option1.value = connection;
                                option1.textContent = connection;
                                option1.classList.add("form-control");
                                dbTargetSelect.appendChild(option1);
                              });
                            })
                            .catch(error => console.error('Error fetching connections:', error));
                        }
                      }
                      
                      setInterval(updateDatabases, 100);
                      setInterval(updateTargetDatabases, 100);

                        
                    </script>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">{{ form.target_schema.label }}</label>
                        <div class="col-sm-10">{{ form.target_schema }}</div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">{{ form.target_type.label }}</label>
                        <div class="col-sm-10">{{ form.target_type }}</div>
                    </div>

                </div>

                <div class="button-submit">
                    <button type="submit" class="btn btn-primary btn-no-margin" name="action" value="save" onclick="saveData()">
                        Save
                    </button>

                    <a
                            href="#"
                            class="btn btn-secondary btn-no-margin"
                            id="tables-list-btn"
                    >Tables List</a
                    >

                    <button class="btn btn-secondary btn-no-margin" id="dagsButton">DAGs</button>

                    <a href="{{ url_for('ProjectsView.project_list') }}" class="btn btn-sm btn-default btn-no-margin"
                       data-toggle="tooltip"
                       rel="tooltip" title="" data-original-title="Back">
                        <span class="sr-only">Back</span><i class="fa fa-arrow-left"></i>
                    </a>

                    <div class="form-popup" id="myForm">

                        <div class="dag-header"><h4>Update CT Tables Data</h4></div>

                        <div class="form-group row">
                            <div class="col-sm-10">
                                {{ form.update_dags_start_date.label }}
                                <div class="input-group mb-3">
                                    <div class="form-check dag">{{ form.update_dags_start_date }}</div>
                                    <div class="form-check dag">{{ form.update_dags_start_time }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-10">
                                {{ form.update_dags_schedule.label }}
                                <div class="form-check dag">{{ form.update_dags_schedule }}</div>
                            </div>
                        </div>

                        <div class="dag-header"><h4>Transfer Data to Target</h4></div>

                        <div class="form-group row">
                            <div class="col-sm-10">
                                {{ form.transfer_dags_start_date.label }}
                                <div class="input-group mb-3">
                                    <div class="form-check dag">{{ form.transfer_dags_start_date }}</div>
                                    <div class="form-check dag">{{ form.transfer_dags_start_time }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-10">
                                {{ form.transfer_dags_schedule.label }}
                                <div class="form-check dag">{{ form.transfer_dags_schedule }}</div>
                            </div>

                        </div>
                        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                        <button type="button" class="btn cancel" onclick="clearForm()">Clear</button>
                    </div>
                </div>

                <script>
                    function openForm() {
                        var form = document.getElementById("myForm");
                        form.style.display = (form.style.display === "block") ? "none" : "block";

                        if (form.style.display === "block") {
                            const now = new Date();
                            const utcDate = now.toISOString().split('T')[0];
                            const utcTime = now.toISOString().split('T')[1].split(':').slice(0, 2).join(':');;

                            document.querySelector('#{{ form.update_dags_start_date.id }}').value = utcDate;
                            document.querySelector('#{{ form.update_dags_start_time.id }}').value = utcTime;
                            document.querySelector('#{{ form.transfer_dags_start_date.id }}').value = utcDate;
                            document.querySelector('#{{ form.transfer_dags_start_time.id }}').value = utcTime;
                        }
                    }

                    function closeForm() {
                        document.getElementById("myForm").style.display = "none";
                    }

                    document.getElementById('dagsButton').addEventListener('click', function (e) {
                        e.preventDefault();
                        openForm();
                    });

                </script>

                <script>
                    function clearForm() {
                        const formElements = document.querySelectorAll('.form-check.dag input');
                        formElements.forEach((element) => {
                            element.value = '';
                            }
                        );
                    }

                </script>

            </form>
        </div>
    </div>
</div>


<script>

  document.addEventListener("DOMContentLoaded", function () {
    const transferSourceDataCheckbox = document.querySelector(
      "#{{ form.transfer_source_data.id }}"
    );
    const targetFields = document.getElementById("targetFields");

    function toggleTargetFields() {
      if (transferSourceDataCheckbox.checked) {
        targetFields.style.display = "block";
      } else {
        targetFields.style.display = "none";
      }
    }

    toggleTargetFields();

    transferSourceDataCheckbox.addEventListener("change", toggleTargetFields);
  });

   document
    .getElementById("tables-list-btn")
    .addEventListener("click", function (event) {
      event.preventDefault(); // Prevent the default action


      const form = document.getElementById("connection_form");

      if (!form.checkValidity()) {
        form.reportValidity()
        return
      }
      // Get selected values
      const projectName = document.querySelector(
        '[name="ct_project_id"]'
      ).value;

      const connection = document.querySelector(
        '[name="source_connection_id"]'
      ).value;

      const biview_database = document.querySelector(
        '[name="conn_type2"]'
      ).value;

      // Construct the URL with query parameters
      const url =
        "{{ url_for('ProjectsView.projects_to_load') }}" +
        `?project_name=${encodeURIComponent(
          projectName
        )}&connection=${encodeURIComponent(
          connection
        )}&biview_database=${encodeURIComponent(biview_database)}`;

      window.location.href = url;
    });


</script>

<script>
  let isFormSaved = true;

  document.getElementById("connection_form").addEventListener("input", function() {
    isFormSaved = false;
  });

  function saveData() {
    isFormSaved = true;
  }

  window.addEventListener('beforeunload', function(event) {
    if (!isFormSaved) {
      const message = 'На странице остались несохраненные изменения. Вы уверены, что хотите уйти?';
      event.returnValue = message;
      return message;
    }
  });
</script>

{% endblock %}
