{% extends base_template %}

{% block content %}
<div class="container">
    <div class="row">
        <link rel="stylesheet" type="text/css" href="/static/dist/flash.39f43f5a4fffad4cd720.css">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">Список проектов</h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <caption>Список существующих проектов</caption>
                        <thead>
                            <tr>
                                <th class="action_checkboxes">
                                    <input id="check_all" class="action_check_all" name="check_all" type="checkbox">
                                </th>
                                {% if projects|length > 0 %}
                                    {% for label in projects[0].keys() %}
                                    <th>{{ label }}</th>
                                    {% endfor %}
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for i, project in projects.items() %}
                            <tr>
                                <td>
                                    <input id="project_{{ loop.index0 }}" class="action_check" name="rowid" value="project_{{ loop.index0 }}" type="checkbox">
                                </td>
                                {% for key, value in project.items() %}
                                <td>{{ value }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
