{% extends base_template %} {% block head_css %} {{ super() }}

<style>
  .container-form {
    margin-top: 20px;
    padding: 0 15px;
    max-width: 100%;
    box-sizing: border-box;
  }
  .form-group label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 600;
    height: 40px;
  }
  .form-control {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    height: 40px;
  }
  .form-control-short {
    width: 140px;
    max-width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 40px;
    padding: 6px 12px;
  }
  .btn-primary {
    margin-right: 10px;
  }

  .form-group {
    margin-bottom: 1rem;
  }

  .form-check {
    display: flex;
    align-items: center;
  }

  .button-submit {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }

  .btn-custom-size {
    width: 34px;
    height: 34px;
    padding: 0; /* Remove default padding */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px; /* Adjust the icon size */
  }

  .btn-no-margin {
    margin-right: 0; /* Override the default margin */
  }

  /* .button-submit btn btn-primary {
        margin: 0;
    } */

  .form-check {
      display: flex;
      align-items: center;
  }

  .form-check ul {
      list-style-type: none;
      padding-left: 0;
      margin: 0;
      display: flex;
      gap: 20px;
  }

  .form-check-input {
      display: none;
  }

  .form-check label {
      display: flex;
      align-items: center;
      padding: 5px 10px;
      border: 1px solid #ced4da;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      font-family: Arial, sans-serif;
      font-size: 14px;
      color: #495057;
      background-color: #fff;
  }

  .form-check-input:checked + label {
      background-color: #007bff;
      color: #fff;
      border-color: #007bff;
  }

  .form-check-input:checked + label::before {
      color: #fff;
      font-weight: bold;
      margin-right: 5px;
  }

  .form-check label:hover {
      background-color: #f8f9fa;
  }
</style>

{% endblock %} {% block content %}
<div class="container-form">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4>Edit project</h4>
    </div>
    <div class="panel-body">
      <form id="connection_form" method="POST">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"
            >{{ form.ct_project_name.label }}<strong class="text-danger"
              > *</strong
            ></label
          >
          <div class="col-sm-10">{{ form.ct_project_name }}</div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label"
            >{{ form.source_connection_id.label }}<strong class="text-danger"
              > *</strong
            ></label
          >
          <div class="col-sm-10">{{ form.source_connection_id }}</div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label"
            >{{ form.one_c_database.label }}<strong class="text-danger"
              > *</strong
            ></label
          >
          <div class="col-sm-10">{{ form.one_c_database }}</div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label"
            >{{ form.biview_database.label }}<strong class="text-danger"
              > *</strong
            ></label
          >
          <div class="col-sm-10">{{ form.biview_database }}</div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label"
            >{{ form.biview_project_type.label }}
            <br><strong class="text-danger">*</strong>
          </label>
          <div class="col-sm-10">
            <div class="form-check">{{ form.biview_project_type }}</div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label"
            >{{ form.ct_database.label }}<strong class="text-danger"
              > *</strong
            ></label
          >
          <div class="col-sm-10">{{ form.ct_database }}</div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label"
            >{{ form.transfer_source_data.label }}<strong class="text-danger"
              > *</strong
            ></label
          >
          <div class="col-sm-10">{{ form.transfer_source_data }}</div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label"
            >{{ form.target_connection_id.label }}<strong class="text-danger"
              > *</strong
            ></label
          >
          <div class="col-sm-10">{{ form.target_connection_id }}</div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label"
            >{{ form.target_database.label }}
            <strong class="text-danger"> *</strong></label>
          <div class="col-sm-10">{{ form.target_database }}</div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label"
            >{{ form.target_type.label }}
            <strong class="text-danger"> *</strong>
          </label>

          <div class="col-sm-10">
            <div class="form-check">{{ form.target_type }}</div>
          </div>
        </div>

        <div class="button-submit">
          <button
            type="submit"
            class="btn btn-primary btn-no-margin"
            name="action"
            value="save"
          >
            Save
          </button>
          <a
            href="{{ url_for('ProjectsView.projects_to_load') }}"
            class="btn btn-secondary btn-no-margin"
            >Projects</a
          >
          <a
            href="{{ url_for('ProjectsView.project_list') }}"
            class="btn btn-sm btn-default btn-no-margin"
            data-toggle="tooltip"
            rel="tooltip"
            title=""
            data-original-title="Back"
            ><span class="sr-only">Back</span><i class="fa fa-arrow-left"></i>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
