{% extends base_template %}

{% block content %}
<div class="container">
    <div class="row">
        <link rel="stylesheet" type="text/css" href="/static/dist/flash.39f43f5a4fffad4cd720.css">
        <script>
            function toggleErrorMessage() {
              $(this).toggleClass('expanded-error');
            }
        </script>
<div class="panel panel-primary ">
    <div class="panel-heading">
      <h4 class="panel-title">Список проектов</h4>
    </div>
    <div class="panel-body">
        <div class="well well-sm">
            <a href="{{ url_for('ProjectsView.project_add_data') }}" class="btn btn-sm btn-primary" data-toggle="tooltip" rel="tooltip"
               title="Add a new project">
                <span class="sr-only">Add</span>
                <i class="fa fa-plus"></i>
            </a>
            <a href="/home" class="btn btn-sm btn-default" data-toggle="tooltip" rel="tooltip" title="" data-original-title="Back">
            <span class="sr-only">Назад</span>
            <i class="fa fa-arrow-left"></i>
            </a>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <caption>Список существующих проектов</caption>
                <thead>
                    <tr>
                        <th class="action_checkboxes">
                          <input id="check_all" class="action_check_all" name="check_all" type="checkbox">
                        </th>
                        <th></th>
                        {% for label in projects[0] %}
                        <th>
                            {{ label }}
                        </th>
                        {% endfor %}
                        <th class="action_checkboxes">
                            
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for i in range(count) %}
                    <tr>
                        <td>
                            <input id="3" class="action_check" name="rowid" value="3" type="checkbox">
                        </td>
                        <td>
                            <div class="btn-group btn-group-xs" style="display: flex;">
                                <a href="{{ url_for('ProjectsView.edit_project_data', project_id=projects[i]['project_id']) }}" class="btn btn-sm btn-default" data-toggle="tooltip" rel="tooltip"
                                   title="Edit project">
                                    <span class="sr-only">Edit</span>
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a
                                        id="btn-delete-/connection/delete/3"
                                        href="#"
                                        class="btn btn-sm btn-default confirm"
                                        rel="tooltip"
                                        title="Delete record">
                                    <span class="sr-only">Delete</span>
                                    <i class="fa fa-trash"></i>
                                </a>
                                <script nonce="">
                                    document.getElementById("btn-delete-/connection/delete/3")
                                        .addEventListener("click", function () {
                                            const adminAction = new AdminActions();
                                            return adminAction.execute_single_delete('/connection/delete/3','Are you sure you want to delete this item?');
                                        })
                                </script>
                            </div>
                        </td>
                        {% for key, value in projects[i].items() %}
                        <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <form id="action_form" action="#" method="POST" style="display: none">
            <input type="hidden" name="csrf_token" value="IjU5OWM5ODU5MGJlMDY2Mzc1OGU2MTFkMGRkMGMxMjdiYzJjYzFlYWYi.Zsx1UQ.HiPIjmMd-qDjw34eFq_i31tfRyM"/>
            <input type="hidden" id="action" name="action" />
        </form>
        <script nonce="">
            $(document).ready(function() {
                window.modelActions = new AdminActions();
            });
        </script>
    </div>
</div>
{% endblock %}
